@media (min-width:0px){
    html{font-size:12px;}
}
@media (min-width: 320px){
    html{font-size:12px;}
}
@media (min-width: 340px){
    html{font-size:13px;}
}
@media (min-width: 360px){
    html{font-size:14px;}
}
@media (min-width: 380px){
    html{font-size:15px;}
}
@media (min-width: 400px){
    html{font-size:15px;}
}
@media (min-width: 420px){
    html{font-size:16px;}
}
body{margin: 0;color: #333; background: #f0eff5;}
a{ color: #333; text-decoration: none}
@for $i from 1 through 40 { .mt#{$i} { margin-top: 1px * $i; } }
@for $i from 1 through 40 { .mb#{$i} { margin-bottom: 1px * $i; } }
@for $i from 1 through 40 { .ml#{$i} { margin-left: 1px * $i; } }
@for $i from 1 through 40 { .mr#{$i} { margin-right: 1px * $i; } }
@for $i from 1 through 40 { .pt#{$i} { padding-top: 1px * $i; } }
@for $i from 1 through 40 { .pb#{$i} { padding-bottom: 1px * $i; } }
@for $i from 1 through 40 { .pl#{$i} { padding-left: 1px * $i; } }
@for $i from 1 through 40 { .pr#{$i} { padding-right: 1px * $i; } }
@for $i from 12 through 30 { .f#{$i} { font-size: 1px * $i; } }
.p15{padding: 15px!important;}
.pl0{ padding-left: 0}
.pt55{ padding-top: 55px !important;}
input::-webkit-outer-spin-button,  
input::-webkit-inner-spin-button{  
    -webkit-appearance: none !important;  
    margin: 0;  
}
.l{ float: left;}
.r{ float: right;}
.gray{ color: #999}
.blue_bg{ background:#409EFF;}    
.w100{width: 100%;}
.w50{width: 50%;}
.inblock{ display: inline-block}
.blue{color: #409EFF}
.red{color: #df4444}
.green{color: #359e3d}
.g3{ color: #333}
.pt0{padding-top: 0 !important;}
.tc{ text-align: center}
.tr{text-align: right}
.tl{text-align: left}
.white{ color: #fff}
.border-t10{ border-top: 10px solid #f5f5f5}
.border-b10{ border-bottom: 10px solid #f5f5f5}

.el-container{  padding-bottom:56px;}
.el-main{padding: 0; padding-top: 45px;position: relative;  background: #fff}
.el-form-item{ margin-bottom: 0;    border: 1px solid #dcdfe6; border-top:0}
.el-form .el-form-item:first-child{ border-top: 1px solid #dcdfe6; }
.el-input__inner{border: 0}
.el-form-item.is-required .el-form-item__label:before{ content: "";}
.el-form-item__label{ text-align: left;    padding: 0 0 0 12px;}
._v-container{top: 45px !important;}

/* 居中弹出框 */
.el-message-box{width: 85%;}
.el-message-box--center{ width: 85%;border-radius: 6px;margin-top:20% !important;padding-bottom:  15px; 
    & .el-message-box__title{ font-weight: bold}
    & .el-message-box__content{ padding: 0; border-bottom:1px solid #f5f5f5;padding-bottom: 15px; }
    & .el-message-box__btns{ padding-top: 15px;padding-bottom: 15px;
        & .el-button--default{width: 100%;}
    }
    & .el-button--small{width: 100%;font-size: 14px;}
  
}

/* 默认弹出框 */
.el-message-box__header .el-message-box__title{ text-align: center}
.el-message-box__btns{border-top: 1px solid #f5f5f5;padding-top: 10px}
.el-message-box__btns .el-button--default{width: 48%;float: left;}
.el-message-box__btns button:nth-child(2) {
    margin-left: 4%;
}
.el-date-picker{ left: 7% !important}
.el-dialog__wrapper{ background: #fff}
.el-dialog{width: 100%;margin-top: 0 !important; height: 100%;background: #fff;z-index: 999999;margin: 0;
    -webkit-box-shadow:none;box-shadow:none;}
.el-dialog__body{padding-left: 0; padding-right: 0;
    & .el-form-item{border-left: 0;border-right: 0}
}


/* 表单验证错误提示 */
.el-form-item__error{  position: fixed;padding: 10px 30px;border-radius: 6px;top: 50%;left:29%;z-index: 9999;background: rgba(0,0,0,0.5);
color: #fff}

/* 通用提示黑框 */
.comomtips{  position: fixed;padding: 10px 30px;border-radius: 6px;top: 20%;left:40%;z-index: 9999;background: rgba(0,0,0,0.5);
    color: #fff}

.el-dialog__body{    padding: 15px 0;}







